<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A cerca de</title>
    <link rel="shortcut icon" href="./img/silueta logo.png" />
    <link rel="stylesheet" href="./css/estilo-acerca.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="css/estilo-acerca.css">
</head>

<body>

    <header>
      
    </header>

    <main>
        <div class="container" >
            <div class="left-section" >
                <h1><strong>Nuestros Servicios</strong></p>
                    <h2 >Ges Far es una aplicación web que tiene el objetivo de garantizar:</h2>
                    <br>
                    <br>
                    <video  id="miVideo"  height="600px " 
                        src="./videos/Mdico Medicamento Salud 1- Free video on Pixabay - Pixabay.mp4" autoplay muted loop>
                    </video>
                </h1>
                <br>
                <br>
                <aside>
                    <h3>En cada etapa del proceso, se tiene la gestión trazable de los profesionales que han intervenido, 
                        como asi también la correcta gestión del inventario (stock, altas, bajas por rotos, vencidos, etc), 
                        fechas de vencimientos, alarmas de ANMAT,etc.</h3>
                    <h3>
                        Pensado en hacer el proceso de carga de farmacos en farmacia con lector codigo de barras, 
                        dejando al enfermero/a la carga manual del stock, anotaciones varias (baja, modificacion),etc.
                    </h3>      
                </aside>
            </div>
            <div class="right-section">
                <div class="col-md-12">
                    <img src="./img/drogas.png" class="imagen-redonda" alt="Trazabilidad">
                    <strong>Trazabilidad</strong>
                    <p> Trazabilidad total en la suministración de fármacos en estructuras sanitarias, 
                        partiendo de la farmacia al interno de tal estructura.</p>
                </div>
                
                <div class="col-md-12">
                    <img src="./img/doctor.png " class="imagen-redonda" alt="">
                    <strong>Admisión</strong>
                    <p>Se lleva un control desde el momento que la receta es indicada por el Profesional,
                        desde cualquier sector: Consultorios, Guardia o Internación.
                    </p>
                
                </div>
                
                <div class="col-md-12">
                    <img src="./img/receta.png"  class="imagen-redonda" alt="Gestión">
                    <strong>Gestión</strong>
                    <p>La gestión de los fármacos por parte de los profesionales intervinientes a
                         partir de la elaboración electrónica de la Rp (receta paciente).</p>
                </div>
        
                <div class="col-md-12">
                    <img src="./img/enfermero.png" class="imagen-redonda" alt="Enfermero">
                    <strong>Preparación</strong>
                    <p>la preparación de la terapia farmacológica por parte del enfermero/a comúnmente 
                        denominado blíster farmacológico del paciente.</p>
                </div>
        
                <div class="col-md-12">
                    <img src="./img/jeringuilla.png" class="imagen-redonda"  alt="Suministración">
                    <strong>Suministro</strong>
                    <p>La suministración de fármacos por parte del enfermero al paciente destinatario 
                        del blíster en la cantidad y hora indicadas en la Rp por el profesional interviniente. 
                    </p>
               
                </div>
            </div>
        </div>    
    </main>
    <footer>
       
    </footer>


    <script src="./js/app.js"></script>
</body>

</html>