<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulos</title>
    <link rel="shortcut icon" href="./img/silueta logo.png" />
    <link rel="stylesheet" href="./css/estiloSN.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/modulos.css">
    

</head>
<body>
    
    <header>

    </header>

    <main>
       
        <div class="container__card">

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(img/medico1.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Acceso de Médicos, Enfermeros y Administrativos</h1>
                        </div>
                    </div>
                    <div class="card__back" style="background-image: url(img/medicoyenfermera.jpg);">
                        <div class="body__card_back" >
                            <h1>Sección Profesionales</h1>
                            <p>Dispondran de las Historias Clínicas de los Pacientes. Servicio personalizado según patologías
                                y necesidades</p>
                            <a href="altaprofesional.html" style="margin-top: 80;"> Ir ABM Profesionales</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(img/paciente.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Ingreso del Paciente</h1>
                        </div>
                    </div>
                    <div class="card__back" style="background-image: url(img/paciente2.jpg);">
                        <div class="body__card_back">
                            <h1>Sección Pacientes</h1>
                            <p>Tendrás un acceso directo a tu Historia Clínica, podrás ver tus recertas y el estado de tus pedidos
                                en la farmacia</p>
                            <a href="pacientes.html" style="margin-top: 80;"> Ir ABM Pacientes</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(img/farmacia.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Control de Stock de Medicamentos, Descartable y cualquier otro tipo que se desee</h1>
                        </div>
                    </div>
                    <div class="card__back" style="background-image: url(img/farmacos.jpg);">
                        <div class="body__card_back">
                            <h1>Sección Farmacia</h1>
                            <p>Control de Stock mínimo,punto de reposición y 
                                cantidad de pedido. Gestión desde Pisos,Quirófanos,UTI.</p>
                            <a href="farmacos.html" style="margin-top: 80;"> Ir ABM Farmacia</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(img/carga.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Ingreso de las Recetas</h1>
                        </div>
                    </div>
                    <div class="card__back" style="background-image: url(img/receta.jpg);">
                        <div class="body__card_back">
                            <h1>Sección Recetas</h1>
                            <p>Llegarán las recetas realizadas en consultorio por los Profesionales, y también en 
                                las áreas de Internación, con sus respectivas indicaciones.</p>
                            <a href="" style="margin-top: 80;"> Ir ABM Recetas</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(img/farmacos2.jpg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1>Entrega del Pedido de Recetas</h1>
                        </div>
                    </div>
                    <div class="card__back" style="background-image: url(img/farmacos3.jpg);">
                        <div class="body__card_back">
                            <h1>Preparados de Farmacia</h1>
                            <p>Valorización del Medicamento para Facturación. Gestión de Pedidos de Presupuestos. Órdenes de compras.</p>
                            <a href="" style="margin-top: 80;"> Ir Preparados de Farmacia</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>

    <footer>

    </footer>

    <script src="./js/app.js"></script>
    
</body>
</html>
