
aside{
    background-color: bisque;
    
}

.container{
    margin: 0px auto;
    position: relative;
}
#id{
  text-align:end;
  font-style:italic;
  size: 15px;
}
.primer-seccion{
    background-color: bisque ;
    position: absolute;
    margin: auto;
    padding: 0;
    width:35%;
    height:100%;
    opacity: 0.7;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0px 20px 0px 20px
}

.segunda-seccion{
    background-color: #ecdaf5;
    border-radius: 10px;
    width: 100%;
}

.nav_img{
    background-position: center;
}

#miVideo{
  width:100%;
}


#map {
  width: 100%;
  height: 200px;
  background-color: #ccc; 

}@media only screen and (max-width: 768px) {
  .footer-column {
    width: 100%;
  }
  .primer-seccion h2,
  .primer-seccion h4,
  .primer-seccion p{
    font-size:12px;
  }
  .primer-seccion{
    position: relative;
    width: 100%;
  }
}

