body {
    background: #bca2c5 !important;
    font-family: "Family Font", sans-serif;
    background-image: url("../img/logo\ blanco.png");
    background-size: cover;
    background-attachment: fixed;
    background-position:bottom;
    
  }

  .container {
    margin-top: 250px auto;
    width: 80%;
    background-color: unset !important;
    
  }
  
  

@media (max-width: 767px) {
      .left-section h1, h2 {
        font-size: 18px;
      }
      .left-section p{
          font-size: 16px;
      }
    }

form {
      display: flex;
      flex-direction: column;
      padding: 0px 50px 0px 50px;
      width: 100%;
      margin: 100px;
    }
    
label {
      margin-bottom: 10px;
      font-size: 1.2em;
      font-weight: bold;
      color: #000000;
    }
    
    input[type="username"],
    input[type="password"] {
      margin-bottom: 20px;
      padding: 8px;
      border:none;
      font-size: 1em;
      color: #000000;
      font-family: "Montserrat", sans-serif;
      background-color: rgb(230, 230, 230);
      border-bottom: 4px #784390 solid;
    }
    
    button {
      background-color: #784390;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 1.2em;
      padding: 10px 20px;
      margin-top: 20px;
      cursor: all-scroll;
      width:50%;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 60px;
    }
    
    h1 {
      color: #1c1c1d;
      font-size: 45px;
      font-style: "Family Font";
      font-weight: lighter;
    }
