body {
    background-color: #b7b5b5;
    font-family: 'Family Font', sans-serif;
    background-image:url("../img/logo\ blanco.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin: 50px auto;
    width: 80%;
}

.left-section {
    grid-column: 1 / 2;
}

.right-section {
    grid-column: 2 / 3;
    background-color: #784390;
    padding: 20px;
    border: 2px solid #221628;
    border-radius: 10px;
}


input[type="submit"]:hover {
    background-color: violet;
}
h1{
color: #1c1c1d;
font-size: 45px;
font-style: 'Family Font' ;
font-weight:lighter;
}

//*.form_estilo {background-color: #784390;
    display: block;
}