{% extends "base.html" %}
{% load static %}
{% block head%}
<link rel="stylesheet" href="{% static './css/contactos.css'%}">
{% endblock %}
{% block title %}contacto{% endblock %}
{% block content %}
<div class="container">
  <div class="left-section">
    <h1><strong>Conozca más acerca de GES FAR</strong></p>
      <h2>Gestión integral y trazabilidad de fármacos en estructuras sanitarias</h2>
      <p><span style="font-size: 20px;">Si desea realizarnos una consulta acerca de nuestro programa de salud,
          complete el siguiente formulario y a la brevedad nos comunicaremos con usted.</span>
    </h1>

    <div>
          {% for message in messages %}
              <div> {{ message.tags }}
                  {{ message }}
              </div>
          {% endfor %} 


          <form action="{% url 'contacto'  %}">
                {% csrf_token %}
                {{ formulario_contacto }} {{ campo }}


            <div class="">
              {% if formulario.non_field_errors %}
            </div>  
                <div class="">
                  {{ mi_formulario.non_field_errors }}
                </div>
              {% endif %}
              <input type="submit" value="Enviar mensaje">
          </form>
    </div>




  </div>

  {% endblock %}