<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABM Enfermer@s</title>
    <link href='https://fonts.googleapis.com/css?family=Monserrat' rel='stylesheet'>
    <link rel="stylesheet" href="./css/contactos.css">
    <link rel="shortcut icon" href="./img/silueta logo.png">
</head>
<body>
    <header>
        <nav>
            <a href="index.html">
                <img width="50"  src="./img/logo sin fondo.png" alt="logo "></a><br>
        </nav>
    </header>
    <main>
            <h1>Gestión ABM Enfermer@s</h1>
         <label for="nombre">Nombre:</label>
         <input type="text"name="nombre" id="nombre"><br>
         <label for="apellido">Apellido:</label>
         <input type="text"name="apellido" id="apellido"><br>
         <p>Especialidad:</p>
         <select id="especialidades">
           <option value="cxgral">Cx. General</option>
           <option value="neonatologia">Neonatología</option>
           <option value="cardiologia">Cardiología</option>
           <option value="pediatria">Pediatría</option>
           <option value="terapiamay">Terapia Intensiva</option>
         </select><br>
         <label for="matricula">Matrícula:</label>
         <input type="text" name="matricula" id="matricula"><br>
         <label for="usuario">Usuario:</label>
         <input type="text" name="usuario" id="usuario"><br>
         <label for="contraseña">Contraseña</label>
         <input type="password"name="contraseña" id="contraseña"><br>  
         <input type="submit" value="Confirmar">
         <input type="reset" value="Limpiar"><br>
        </form>
    </main>

<p>Sitio Desarrollado por: The 4 Big Brains</p>
</footer>
</body>
</html>