<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ges Far</title>
  <link rel="shortcut icon" href="./img/silueta logo.png" />
  <link rel="stylesheet" href="./css/estilos.css" />
  <link href='https://fonts.googleapis.com/css?family=Monserrat' rel='stylesheet'>
  <script defer src="js/app.js"></script>
</head>

<body>
  <header>
      

  </header>
  <br />
  
  <main>

    <!-- Slider Carusel -->
    <div class="slider">
      <input type="radio" name="slider" id="slide1" checked>
      <input type="radio" name="slider" id="slide2">
      <input type="radio" name="slider" id="slide3">
      <div class="img-container">
        <div class="img" style="background-image: url('img/01.jpg');"></div>
        <div class="img" style="background-image: url('img/02.jpg');"></div>
        <div class="img" style="background-image: url('img/03.jpg');"></div>
      </div>
      <div class="puntos">
        <label class="punto" for="slide1"></label>
        <label class="punto" for="slide2"></label>
        <label class="punto" for="slide3"></label>
      </div>
    </div>
    <!-- Fin slider carusel -->
    <br />

    <p><strong>Trabajamos como socios de confianza para nuestros clientes, ayudándoles a adaptarse al mundo en evolución
        de la atención médica y a avanzar en la transformación de la salud digital. </strong></p><br>
   

    <div class="container">
      <div class="list-container">
        <h2> Nuestra Plataforma</h2>
        <ol class="list">
          <ol>1. Sencillez y agilidad</ol><br>
          <ol>2. Una herramienta que se adapta a la perfección a las necesidades y procesos actuales de tu organización
          </ol><br>
          <ol>3. Data Analytics para medir la operación en tiempo real</ol><br>
          <ol>4. APIs de integración</ol><br>
          <ol>5. Privacidad y resguardo de datos</ol><br>
        </ol>

        <a href="nosotros.html" class="b">Sobre nosotros</a>
      </div>

      <div class="image-container">
        <img src="./img/home_healthy_pic28.jpg" alt="Imagen" class="image">
      </div>
    </div>
    <br><br>
    

    <div class="grid-conta">
      <div class="image-conta">
        <img width="50" src="./img/sitio-web.png" alt="Imagen 1" class="image">
        <div class="image-caption">
          <h3>White label</h3>
          Sistema versátil que se adapte a diferentes tipos de organizaciones de salud.
        </div>
      </div>

      <div class="image-conta">
        <img width="50" src="./img/firma-digital.png" alt="Imagen 2" class="image">
        <div class="image-caption">
          <h3>Customizada</h3>
          Lo adaptamos a tus requerimientos y especificaciones.
        </div>
      </div>

      <div class="image-conta">
        <img width="50" src="./img/enchufe.png" alt="Imagen 3" class="image">
        <div class="image-caption">
          <h3>Integrada</h3>
          Brindamos la posibilidad de conectarse con otras plataformas.
        </div>
      </div>

      <div class="image-conta">
        <img width="50" src="./img/insignia.png" alt="Imagen 4" class="image">
        <div class="image-caption">
          <h3>Certificada</h3>
          Utiliza estandares y esta certificada por servicios de salud.
        </div>
      </div>
    </div><br><br>
    <h2>Módulos Disponibles</h2>
    <p>Toma el control absoluto para entregar la mejor experiencia a tus pacientes.</p>
    <!-- Menu de Hexagonos -->
    <div class="hex-container">
      <div class="hex hex-1">
        <a href="altaprofesional.html" title="Alta Profesional">
          <div class="hex-inner">
          </div>
        </a>
      </div>
      <div class="hex hex-2">
        <a href="show-data.html" title="Show Data">
          <div class="hex-inner">
          </div>
        </a>
      </div>
      <div class="hex hex-3">
        <a href="bajaprofesional.html" title="Baja Profesional">
          <div class="hex-inner">
          </div>
        </a>
      </div>
      <div class="hex hex-4">
        <a href="pacientes.html" title="Pacientes">
          <div class="hex-inner">
          </div>
        </a>
      </div>
      <div class="hex hex-5">
        <div class="hex-inner">

        </div>
      </div>
      <div class="hex hex-6">
        <a href="farmacia.html" title="Farmacia">
          <div class="hex-inner">
          </div>
        </a>
      </div>
    </div>
    <!-- Fin Menu Hexagonos -->
    <br />

   
  </main>
  <footer>
    
  </footer>
   

  <script src="./js/app.js"></script>
  
</body>

</html>